@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

body{
    height: 100vh;
    background-color: #8CC461;
    overflow:hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.decoration_star{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 6vh;
}

.stars:nth-child(1){
    width: 32px;
    height: 32px;
    position: relative;
    left: 110px;
    top: 240px;
}
.stars:nth-child(2){
    width: 115px;
    height: 115px;
    position: relative;
    left: -30px;
    top: 120px;
}
.stars:nth-child(3){
    width: 68px;
    height: 68px;
    position: relative;
    left: -40px;
    top: 60px;
}
.stars:nth-child(4){
    width: 32px;
    height: 32px;
    position: relative;
    left: -50px;
    top: 10px;
}
.stars:nth-child(5){
    width: 32px;
    height: 32px;
    position: relative;
    left: 10px;
    top:45px ;
}
.stars:nth-child(6){
    width: 103px;
    height: 103px;
    position: relative;
    left: 50px;
    top: 0px;

}
.stars:nth-child(7){
    width: 32px;
    height: 32px;
    position: relative;
    left: 60px;
    top: 100px;
}
.stars:nth-child(8){
    width: 130px;
    height: 130px;
    left: -30px;
    top: 150px;
    position: relative;
}

.stars:before {
    transform: rotate(35deg);
}

.stars:after {
    transform: rotate(-35deg);
}

.stars:nth-child(even) {
    animation: blink 1.5s infinite alternate;
}

.stars:nth-child(odd) {
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

/* .stars{
    animation: rotateStar 5s ease infinite;
} */

@keyframes rotateStar {
    50%{
        transform: rotate(180deg);
    }
}

.decoration_trophy{
    position: absolute;
    top: 170px;
}
.trophy{
    width: 150px;
    height: 150px;
}

.textsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
    margin-top: 20px;
}

.text1{
    font-family: Roboto;
    font-size: 90px;
    font-weight: 500;
    line-height: 107px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

.text2{
    font-family: Roboto;
    font-size: 41px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    margin: -10px 0 0 0;
}

.playagainbtn{
    margin-top: 5vh;
    padding: 18px 40px;
    border: none;
    border-radius: 9px;
    color: #6B6B6B;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #6B6B6B;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2em;
}

.rulescontainer{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.rules-btn{
    font-family: Roboto;
    font-size: 21px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: left;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: inherit;
    color: #fff;
    padding: 7px 20px;
    margin-top: 360px;
}

/* rules */


.rulescontainer{
    width: 280px;
    position: absolute;
    border-radius: 13px;
    top: 210px;
    right: 18px;
    animation: winner 1s ease;
}

.ruleslist{
        background-color: #004429;
        border-radius: 13px;
        border:7px solid #fff;
    >p{
        font-family: Roboto;
        font-size: 29px;
        margin: 25px 0 30px 0 ;
        font-weight: 500;
        text-align: left;
        color: white;
        display: flex;
        justify-content: center;
    }

    >ul{
        list-style: none;
        color: white;
        display: flex;
        flex-direction: column;

        >li::before{
            content: "\25A0";
            font-size: 15px;
            color:#FFD600;
            display: inline;
        }
        >li{
            font-family: Roboto;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            margin-left:-20px ;
            margin-bottom:15px ;
        }
    }
}

.crossbtnsection{
    height: 50px;
    width: 50px;
    background-color: #FF0000;
    border: 5px solid #ffff;
    border-radius: 50%;
    position: absolute;
    top: -33px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        font-family: Dangrek;
        font-size: 40px;
        margin-top: 3px;
        text-align: center;
        font-weight: 400;
        color: #ffff;
        cursor: pointer;
    }
}


.hidden{
    display: none;
}

/* animation for play gain or open rules list */
@keyframes winner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }